<header class='center'><main>
  <h1>
    Oops!
  </h1>

  <h4>
    We couldn't find the thing you're looking for. Check to make sure you've typed the url correctly.
  </h4>

  <br>

  <a class='super btn'>
    search for it
  </a>
</main></header>