<header class='center'><main>
  <h1>
    Something went very wrong...
  </h1>

  <h4>
    Something has gone wrong on our end! Sorry about that.
  </h4>
</main></header>

<main class='slim'>
  <b>Error</b>
  <code>{{err}}</code>
</main>