<main>
  <h1>Account Settings</h1>

  {{#if fail}}
    <blockquote>
      {{{fail}}}
    </blockquote>
  {{/if}}

  <form method='post' style='display:flex;flex-direction:row;'>
    {{#unless passwordReset}}
    <table class='account-table' style='width:50%;'>
      <tbody>
        <tr>
          <td>Email</td>
          <td><input name='email' type='email' value='{{email}}' placeholder='john.doe@gmail.com'></td>
        </tr>
        <tr>
          <td>Current password</td>
          <td><input name='current-password-email' type='password' placeholder='*********'></td>
        </tr>
        <tr>
          <td></td>
          <td><input type='submit' class='btn' name='submit' value='change email' style='color:white'></td>
        </tr>
      </tbody>
    </table>
    {{/unless}}
    <table class='account-table' style='width:50%'>
      <tbody>
        {{#unless passwordReset}}
        <tr>
          <td>Current password</td>
          <td><input name='current-password' type='password' placeholder='*********'></td>
        </tr>
        {{/unless}}
        <tr>
          <td>New password</td>
          <td><input name='new-password' type='password' placeholder='*********'></td>
        </tr>
        <tr>
          <td>Confirm new password</td>
          <td><input name='new-password-confirm' type='password' placeholder='*********'></td>
        </tr>
        <tr>
          <td></td>
          <td><input type='submit' class='btn' name='submit' value='change password' style='color:white'></td>
        </tr>
      </tbody>
    </table>

    {{#if passwordReset}}
      <input type='hidden' name='source' value='passwordReset'>
    {{else}}
      <input type='hidden' name='source' value='account'>
    {{/if}}

    <input type='hidden' name='csrf' value='{{csrfToken}}'>
  </form>
</main>
