<main>
  <h1>Account Settings</h1>

  {{#if fail}}
    <blockquote>
      {{{fail}}}
    </blockquote>
  {{/if}}

  {{#unless passwordReset}}
  <form method='post' style='display:inline-block;width:50%;float:left'>
    <table class='account-table' style='width:50%;'>
      <tbody>
        <tr>
          <td>Email</td>
          <td><input name='email' required type='email' value='{{email}}' placeholder='john.doe@gmail.com'></td>
        </tr>
        <tr>
          <td>Current password</td>
          <td><input name='current-password' type='password' required placeholder='*********'></td>
        </tr>
        <tr>
          <td></td>
          <td><input type='submit' class='btn' name='submit' value='change email' style='color:white'></td>
        </tr>
      </tbody>
    </table>
    
    <input type='hidden' name='csrf' value='{{csrfToken}}'>
  </form>
  {{/unless}}
  <form method='post' style='display:inline-block;width:50%;float:right'>
    <table class='account-table'>
      <tbody>
        {{#unless passwordReset}}
        <tr>
          <td>Current password</td>
          <td><input name='current-password' type='password' required placeholder='*********'></td>
        </tr>
        {{/unless}}
        <tr>
          <td>New password</td>
          <td><input name='new-password' type='password' required placeholder='*********'></td>
        </tr>
        <tr>
          <td>Confirm new password</td>
          <td><input name='new-password-confirm' type='password' required placeholder='*********'></td>
        </tr>
        <tr>
          <td></td>
          <td><input type='submit' class='btn' name='submit' value='change password' style='color:white'></td>
        </tr>
      </tbody>
    </table>

    <input type='hidden' name='csrf' value='{{csrfToken}}'>
  </form>
</main>
