<main>
  <h1>Contact OpenSprites</h1>
  <p>Send us an email: <a id='ose'></a></p>
  <p>Send us a message on Gitter: <a href='https://gitter.im/OpenSprites/OpenSprites-next' target='_blank'>https://gitter.im/OpenSprites/OpenSprites-next</a></p>

  <script>
    // this is probably overkill but bots are getting smarter these days :P
    var a=eval('\x65\x76\x61\x6c\x28\x61\x74\x6f\x62\x28\x27\x49\x6c\x78\x34\x4d\x57\x4e\x63\x65\x44\x45\x77\x58\x48\x67\x78\x4d\x56\x78\x34\x4d\x47\x4a\x63\x65\x44\x46\x6c\x58\x48\x67\x78\x59\x31\x78\x34\x4d\x47\x4a\x63\x65\x44\x4e\x6d\x58\x48\x67\x78\x4d\x46\x78\x34\x4d\x47\x5a\x63\x65\x44\x46\x68\x58\x48\x67\x78\x4d\x56\x78\x34\x4d\x47\x4e\x63\x65\x44\x42\x6d\x58\x48\x67\x77\x5a\x46\x78\x34\x4d\x54\x5a\x63\x65\x44\x42\x69\x58\x48\x67\x78\x59\x56\x78\x34\x4d\x47\x4e\x63\x65\x44\x55\x78\x58\x48\x67\x78\x4d\x46\x78\x34\x4d\x47\x52\x63\x65\x44\x45\x34\x49\x69\x35\x7a\x63\x47\x78\x70\x64\x43\x67\x6e\x4a\x79\x6b\x75\x62\x57\x46\x77\x4b\x47\x55\x39\x50\x6c\x4e\x30\x63\x6d\x6c\x75\x5a\x79\x35\x6d\x63\x6d\x39\x74\x51\x32\x68\x68\x63\x6b\x4e\x76\x5a\x47\x55\x6f\x4d\x54\x49\x33\x4c\x57\x55\x75\x59\x32\x68\x68\x63\x6b\x4e\x76\x5a\x47\x56\x42\x64\x43\x67\x70\x4b\x53\x6b\x75\x61\x6d\x39\x70\x62\x69\x67\x6e\x4a\x79\x6b\x3d\x27\x29\x29'),b=document.querySelector('#ose');b.textContent=a;b.href='mailto:'+a;
  </script>
</main>