<main>
  <h1>Forgot password</h1>

  {{#if fail}}
    <blockquote>
      {{{fail}}}
    </blockquote>
  {{/if}}

  <p>
    Forgot your password? Don't worry. We'll send you an email so you can reset it. Just enter your username below.
  </p>

  <form method='post'>
    <table id='join'>
      <tbody>
        <tr>
          <td>Username</td>
          <td><input name='username' required type='text' maxlength="20" placeholder='thisandagain' autofocus></td>
        </tr>
      </tbody>
    </table>

    <br>

    <input type='hidden' name='csrf' value='{{csrfToken}}'>
    <input type='submit' class='btn' value='Reset'>
  </form>
</main>
