<main class='search'>
  <input type='text' class='search-bar' placeholder='Search for anything' />
  
  <div class='search-tabs'>
    <div class='search-tab resources-tab selected' data-category='Resource'>
      <span class='label'>Resources</span>
    </div>
    <div class='search-tab collections-tab' data-category='Collection'>
      <span class='label'>Collections</span>
    </div>
    <div class='search-tab users-tab' data-category='User'>
      <span class='label'>Users</span>
    </div>
  </div>
  <section class='search-results'>
    Results appear here
  </section>
</main>