<main>
  <h1>Share</h1>

  <form method='post' enctype='multipart/form-data'>
    <h5> liam, work your magic </h5>

    <input type='file' multiple name='files[]'>

    <input type='submit' class='btn' value='Upload'>
  </form>
</main>