<main>
  <h1>Share</h1>

  <div id='file-uploads'></div>

  <button id='add-resource' class='flat btn'>Add Resource</button>
  <input type='submit' class='btn' value='Upload and publish'>

  <div class='file-upload template' data-template-id='file-upload'>
    <div class='file-upload-preview'>
      <!-- Fill preview -->
      <div class='file-preview'></div>
      <span class='file-select-text'>Select a File</span>
      <span class='file-selected-text'>File selected!</span>
      <input type='file' class='file-select-button'>
    </div>
    Name: <span contenteditable='true' placeholder='Bob the Cactus' class='file-upload-name'></span><br>
    Description: <span contenteditable='true' placeholder='Long time no see!' class='file-upload-name'></span>
  </div>
</main>