<main>
  <h1>Share <span class='share-progress'></span></h1>

  <div class='upload-error'>
    <h2>Uh oh</h2>
    <p>Something went wrong while uploading.<br/><a href='javascript:location.reload(true)'>Refresh the page</a> and try again later.</p>
    <p class='details'></p>
  </div>
  
  <form method='post' enctype='multipart/form-data'>
    <div class='split-input-button' id='scratch-url-container' style='max-width: 100%'>
      <input type='url' id='scratch-url' placeholder='https://scratch.mit.edu/projects/12345678' />
      <button type='button' id='scratch-url-btn' class='btn flat'>add from scratch</button>
    </div>
    
    <div style='display:inline-block; padding-top: 0.5em'>
      <a id='add-resource' class='flat btn'>add more</a>
      <a id='submit' class='btn'>upload and share</a>
    </div>
    
    <div id='file-uploads' class='resources'></div>
  </form>

  <div class='file-upload template resource' data-template-id='file-upload'>
    <a class='to'>
      <div class='img'>
        <button type='button' class='flat btn icon remove material-icons' title='Remove'>delete</button>
        <img class='file-preview'>

        <div class='play icon'>play_arrow</div>
        <audio preload></audio>

        <div class='file-select-text flat btn'>Select a File</div>
        <div class='file-selected-text btn'>File selected!</div>
      </div>

      <input type='text' name='name' class='file-upload-name' value='Something' maxlength='20'>
    </a>
    <span>by <a href='/users/{{user}}'>{{user}}</a></span>
    <small class='file-type'>&nbsp;</small>

    <input type='file' class='file-select-button' name='files[]' accept='
      image/png,
      image/jpeg,
      image/gif,
      image/svg+xml,
      audio/mp3,
      audio/wav,
      .sb2,
      .sprite2
    '>
    <div class='overlay'>
      <svg class="progress" width="110" height="110" viewport="0 0 110 110" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <filter id="glow">
            <feGaussianBlur stdDeviation="2.5" result="coloredBlur"></feGaussianBlur>
            <feMerge>
              <feMergeNode in="coloredBlur"></feMergeNode>
              <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
          </filter>
        </defs>
        <path d="M55,5 a50,50 0 0,1 0,0" stroke="white" stroke-width="2" fill="transparent" style="filter:url(#glow)"></path>
        <path d="M55,105 a50,50 0 0,1 0,0" stroke="white" stroke-width="2" fill="transparent" style="filter:url(#glow)"></path>
      </svg>
      <div class='progress-text'>0%</div>
    </div>
  </div>

  <script>var resources = '{{resources}}'; var csrf = '{{csrfToken}}';</script>
</main>
