<header class='center'><main>
  <h1>
    Oh no!
  </h1>

  <h4>
    It looks like the request your web browser just sent was tampered with! Sorry, but we can't do anything about that.
  </h4>
</main></header>