<!doctype html>

<meta charset='utf-8'>

<title>
  {{#if title}}
    {{title}} &bullet; OpenSprites Resources
  {{else}}
    OpenSprites Resources
  {{/if}}
</title>

<link rel='stylesheet' href='/assets/css/main.css'>
<script src='/assets/js/main.js'></script>

<body>
  {{{body}}}
</body>