.collection-ui {
  &.controls {
    list-style-type none
    color os-light
    margin 0
    padding-bottom 0.5em
    
    li {
      margin 0.5em
      padding 0.2em
      border 1px solid os-light
      border-radius 0.5em
      display inline-block
      
      input[type=checkbox] {
        vertical-align middle
      }
    }
  }
}

header main {
  margin-bottom 0
  padding-bottom 0
}