.collection-ui {
  .dropdowncheck input[type=checkbox] {
    margin-top: 4px;
  }
  
  &.controls {
    list-style-type none
    color os-light
    margin 0
    padding-bottom 0.5em
    
    li {
      margin 0.5em
      display inline-block
      position relative
      
      button {
        border 1px solid os-light
        border-radius 0.5em
        transition all 0.1s
        
        color white
        
        .label {
          font-family 'Lato', sans-serif
          font-size 14px
          background transparent !important
          vertical-align middle
          margin-top: 0.3em;
          display: inline-block;
          vertical-align: top;
        }
        
        &:hover:not(:disabled) {
          background os-light
          color gray
          .label {
            color gray
          }
        }
        
        &:disabled {
          color os-light
        }
      }
      
      &.select-all {
        button {
          padding-left 1em
        }
        
        input[type=checkbox] {
          position absolute
          top 50%
          left 0.5em
          transform translateY(-50%)
        }
        
        .dropdown {
          list-style-type none
          
          position absolute
          top calc(2em - 2px)
          margin 0
          padding 0
          
          background os-light
          border-bottom-right-radius 0.5em
          border-bottom-left-radius 0.5em
          border-top-right-radius 0.5em
          z-index 9999
          max-height 0
          overflow hidden
          box-sizing border-box
          transition max-height 0.2s
          
          li {
            display block
            cursor default
            background os-light
            color gray !important
            transition all 0.1s
            margin 0
            padding-left 1em
            padding-right 1em
            &:hover {
              background os-dark
              color white !important
            }
          }
        }
        
        &:hover {
          button {
            border-bottom-right-radius 0
            border-bottom-left-radius 0
          }
          .dropdown {
            max-height 500px
          }
        }
      }
      
      .tooltip {
        background rgba(0, 0, 0, 0.5)
        color white
        border-radius 0.5em
        padding 0.5em
        opacity 0
        pointer-events none
        transition all 0.1s
        font-size 0.7em
        word-wrap nowrap
        white-space pre
        
        position absolute
        z-index 99999
      }
      
      &:hover {
        .tooltip {
          opacity 1
          transition all 0.1s 0.5s
          pointer-events all
        }
      }
    }
  }
  
  &.header {
    display none
  }
}

@media only screen and (max-width: 1127px) {
  .collection-ui .resources > .resource:last-child {
    display block
  }
  
  .collection-ui.display-list .resources > .resource:last-child {
    display table-row
  }
}

.collection-ui.display-tiles .resources {
  justify-content center
  
  .resource {
    position relative
    
    .resource-select {
      display none
    }
  }
}

.collection-ui.display-list {
  margin-top 0
  padding-top 0
  
  display table

  .header {
    list-style-type none
    color os-light
    margin 0
    padding 0
    padding-bottom 0.5em
    display table-row
    
    li {
      border 1px solid gray
      padding-left 0.5em
      border-left none
      display table-cell
      &:first-child {
        border-left 1px solid gray
      }
    }
  }
  
  .resources {
    display table-row-group
  }
  
  .resource {
    display table-row
    white-space nowrap
    
    transition all 0.1s
    
    &:hover {
      background os-light
    }
    
    .to {
      max-width 40vw
    }
    
    span {
      max-width 10vw
    }
    
    .to, span, small, .when {
      display table-cell
      padding 0.5em
      color os-grey
      overflow hidden
      text-overflow ellipsis
    }
    
    small {
      margin 0
    }
    
    .to .audio, .to .img {
      width 2em
      height 2em
      overflow hidden
      float left
    }
  }
}

.resource, .resource:hover, .collection-ui.display-list .resource:hover {
  position relative
  &.selected {
    border 2px solid os-select
    text-shadow 0px 0px 5px white
    background rgba(os-select,0.5)
  }
}

header.collection-ui main {
  margin-bottom 0
  padding-bottom 0
  margin-top 0
  padding-top 0
}

.collection-ui.collection-dialog-container {
  background rgba(0, 0, 0, 0.5)
  z-index 9999
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  pointer-events none
  opacity 0
  justify-content center
  align-items center
  display flex
  
  transition all 0.2s
  
  &:target {
    pointer-events all
    opacity 1
    .collection-ui.collection-dialog {
      transform scale(1)
    }
  }
  
  .collection-ui.collection-dialog {
    background white
    border-radius 1em
    max-width 95%
    max-height 95%
    box-sizing border-box
    min-width 50%
    min-height 50%
    display flex
    flex-direction column
    
    transform scale(0)
    transition all 0.2s
    
    .collection-dialog-content {
      overflow auto
      padding 1em
      flex 1
    }
    
    .collection-dialog-buttons {
      text-align right
      border-top 1px solid lightgray
      padding 0.5em
    }
    
    h2 {
      margin 0
    }
  }
}

.collection-ui .permissions-table {
  width 100%
  
  th {
    padding-left 0.5em
    padding-right 0.5em
  }
  
  td:not(.field) {
    text-align center
  }
}

.collection-ui .danger-zone {
  border 10px solid red
  border-image repeating-linear-gradient(
    45deg,
    #900,
    #900 10px,
    #f00 10px,
    #f00 20px
  ) 10 10
  padding 0.5em
  
  h3 {
    margin 0
    margin-bottom 0.5em
  }
}

.collection-ui .add-by-url {
  max-height 0
  box-sizing border-box
  overflow hidden
  
  padding-left 5em
  
  transition all 0.2s
  
  &.active {
    max-height 100px
    padding-bottom 0.5em
  }
  
  input {
    border none
    outline none
    
    width 300px
    max-width 100%
    @extend .body
    line-height 2
    
    color os-grey
    border-bottom 1px dotted #C3C3C3
    
    &:focus {
      border-bottom 1px solid #AAAAAA
    }
  }
}