/**
 * css/font.styl
 * -------------
 * 
 * For font styling - what else?
 */
 
::selection {
  color white
  background os
}

.title, .huge, h1, h2, h3, h4 {
  font-family 'Raleway', sans-serif
  font-weight 400
}

b {
  font-weight 600
}

.body, body, h5, h6, blockquote, small {
  font-family 'Lato', sans-serif
  font-weight 400
  
  font-size 1rem
  font-range 420px 1280px
  line-height 1.25em
  
  font-variant-ligatures common-ligatures
  font-feature-settings 'kern'
  font-kerning normal
}

blockquote {
  margin-left 0
  padding-left 24px
  border-left 4px solid #eee
}

.mono, code, pre {
  font-family 'Inconsolata', monospace
}

.huge {
  font-size responsive 42px 124px
  text-align center
  margin 2em 0
}

h1, h2, h3, h4, h5, h6 {
  margin-top 1em
  margin-bottom .3em
}

h1:not(.huge) {
  font-size responsive 36px 54px
  line-height 1.25em
  
  color os
  font-weight 600
  
  b {
    font-weight 800
  }
  
  user-select none
  cursor default
}

h2 {
  font-size responsive 32px 38px
  line-height 1.2em
}

h3 {
  font-size responsive 28px 36px
  line-height 1.15em
}

h4 {
  font-size 1.125em
  line-height 1.1em
}

h5, blockquote {
  font-size 1.2rem !important
  line-height 1.4em
}

h6, small {
  font-size 0.8rem
  line-height 1.2em
}

a {
  color os
  text-decoration none
  
  &:hover, &:active {
    border-bottom 1px solid os
  }
}

.btn {
  display inline-block

  padding .5em .75em
  background os
  color white
  border none
  outline none
  cursor pointer
  
  @extend .body
}