/**
 * css/font.styl
 * -------------
 * 
 * For font styling - what else?
 */
 
::selection {
  color white
  background os
}

.title, .huge, h1, h2, h3 {
  font-family 'Source Sans Pro', sans-serif
  font-weight 600
  color os-dark
}

b {
  font-weight 600
}

.body, body, h4, h5, h6, blockquote, small {
  font-family 'Lato', sans-serif
  font-weight 400
  
  font-size responsive .8rem 1.1875rem
  font-range 420px 1280px
  line-height 1.5
  
  font-variant-ligatures common-ligatures
  font-feature-settings 'kern'
  font-kerning normal
  font-smoothing antialiased
}

p {
  font-size responsive .8rem 1.3rem
}

blockquote {
  margin-left 0
  padding-left 24px
  border-left 4px solid #eee#303c46
}

.mono, code, pre {
  font-family 'Inconsolata', monospace
}

h1, h2, h3, h4, h5, h6 {
  font-weight 400
  
  margin-top 1em
  margin-bottom .3em
}

h1 {
  font-size responsive 36px 54px
  line-height 1.25em
  
  font-weight 600
  
  b {
    font-weight 800
  }
}

h2 {
  font-size responsive 32px 38px
  line-height 1.2em
}

h3 {
  font-size responsive 28px 36px
  line-height 1.15em
}

h4 {
  font-size 1.125em
  line-height 1.1em
}

h5, blockquote {
  font-size 1.2rem !important
  line-height 1.4em
}

h6, small {
  font-size 0.8rem
  line-height 1.2em
}

a {
  color os
  cursor pointer
  text-decoration none
  
  font-weight 600
}