/**
 * css/footer.styl
 * ---------------
 * 
 * <fooooooooooooooooooooooooter>
 */

footer {
  @extend .container
  
  display flex
  flex-wrap wrap
  
  +below(4) {
    display block
  }
  
  color #B4B4B4
  
  section {
    flex 1
    
    +below(1322px) {
      margin-bottom 1em
    }
    
    +tablet() {
      display inline-block
      width auto
      margin auto
      margin-bottom 2em
      margin-left 3%
      margin-right 3%
    }
  }
  
  section.large {
    clear both
    margin-left 24px
    
    +below(1322px) {
      margin-left 0
      margin-bottom 0
    }
    
    +tablet() {
      display block
    }

    > a {
      display block
      
      +below(1322px) {
        & ~ br {
          display none
        }
      }

      img, div {
        float left
        opacity 0.65
        
        &#gh-issues, &#gh-help, &#gh-feat {
          color #101010
          line-height 70px
          font-size 56px
          display inline-block
          width 70px
          text-align center
          
          +below(1322px) {
            line-height 36px
            font-size 24px
            width 36px
          }
        }
        
        &#on-gh {
          +below(1322px) {
            height 36px
            width 36px
          }
        }

        & + span {
          padding-left .5em
          display inline-block
          line-height 70px
          
          +below(1322px) {
            line-height 36px
          }
        }
      }
    }
  }

  a {
    color #828282
    font-weight 400
    
    section & {
      margin .25em 0
    }
  }
  
  > span {
    display block
    padding-top 2em
    width 100%
  }
  
  .love {
    color #F44336
  }
  
  padding 2.2em 0
}