/**
 * css/footer.styl
 * ---------------
 * 
 * <fooooooooooooooooooooooooter>
 */

footer {
  @extend .container
  
  display flex
  flex-wrap wrap
  
  color #B4B4B4
  
  section {
    flex 1
  }
  
  section.large {
    clear both
    margin-left 24px
    
    > a {
      display block

      img, div {
        float left
        opacity 0.65
        
        &#gh-issues, &#gh-help, &#gh-feat {
          color #101010
          line-height 70px
          font-size 56px
          display inline-block
          width 70px
          text-align center
        }

        & + span {
          padding-left .5em
          display inline-block
          line-height 70px
        }
      }
    }
  }

  a {
    color #828282
    font-weight 400
    
    section & {
      margin .25em 0
    }
  }
  
  > span {
    display block
    padding-top 2em
    width 100%
  }
  
  .love {
    color #F44336
  }
  
  padding 2.2em 0
}