/* 
IE specific styles 
Currently only tested on IE11
*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  /* * {
   font-feature-settings normal !important
  } */
  
  html {
   overflow-x hidden /* no idea what's causing the extra width */
   max-width 100%
  }
  
  nav .logo {
    background-image url("/assets/img/logo/ie-icon.png") !important
  }
  
  header main {
    display inline-block !important
    margin: 0 !important
  }
  
  main {
    background-color transparent !important
    display block 
  }
  
  .post-comment .btn {
    margin-top 10px
  }
  
  .img .remove {
    font-feature-smoothing normal !important
  }
  
  input[type="text"], input[type="password"], input[type="email"] {
    padding-bottom 8px
  }
  
}
