.os-leaving-url {
  font-weight bold
  word-wrap break-word
}

.os-leaving .dialog-content-inner {
	text-align center
}

.os-leaving .dialog-content-inner p {
	text-align left !important
}

.exit-graphic {
  max-width 100%
  margin auto
}

@media screen and (min-width: 900px) {
  .exit-graphic {
    max-width 50% !important
  }
}
