/**
 * css/main.styl
 * -------------
 * 
 * The main website style.
 */

os = #659593
os-grey = #828282
os-dark = #3C6160
os-light = #C8DDDB

rupture.mobile-cutoff = 425px
rupture.tablet-cutoff = 768px
rupture.desktop-cutoff = 1024px
rupture.hd-cutoff = 1440px

@require 'font.styl'
@require 'shadow.styl'

body {
  color os-grey
  background white
  
  margin 0
  padding 0
  
  border-bottom 8px solid #eee
}

input:-webkit-autofill {
  -webkit-box-shadow 0 0 0px 1000px white inset
}

c() {
  width calc(100% - 48px * 2)
  max-width 1280px
  
  +mobile() {
    width calc(100% - 24px * 2)
  }
  
  +tablet() {
    width calc(100% - 36px * 2)
  }
   
  margin 0 auto
  
  &.slim {
    max-width 900px
  }
  
  &.thin {
    max-width 640px
  }
}

.c, .container {
  c()
}

main {
  c()
  col(1 / 3)
  
  margin 2em auto
  position relative

  color os-grey
  background rgba(255, 255, 255, 0.6)
  
  padding 48px
  
  +mobile() {
    padding 24px
  }
  
  +tablet() {
    padding 32px
  }
  
  > :first-child {
    margin-top 0
  }
  
  > :last-child {
    margin-bottom 0
  }
}

main + main {
  margin-top -2.5em
}

code, pre {
  word-break break-word
}

.split {
  display block

  > * {
    flex-grow 1
    flex-shrink 0
    
    width 100%
  }
  
  +desktop() {
    display flex
    
    > * {
      width 50%
    }
  }
}

.btn {
  display inline-block

  border-radius 3px
  padding .55em 1em
  
  color white
  background os
  border 2px solid os
  
  outline none
  cursor pointer
  user-select none

  &.flat {
    color os
    background white
    
    border 2px solid os
    
    &:hover {
      color white
      background os
    }
  }
  
  &.super {
    color os
    background white
    border 2px solid white
  }
  
  @extend .body
  font-weight 600
  text-transform lowercase
}

.icon {
  font-family 'Material Icons' !important
  font-weight normal
  font-style normal
  letter-spacing normal
  direction ltr
  word-wrap normal
  text-transform none
}

.center {
  text-align center
}

header {
  background os
  
  :first-child {
    margin-top 0
    background os
    
    color os-light
    
    h1, h2, h3 {
      color white
    }
    
    a {
      color white
    }
  }
}

.avatar {
  border-radius 3px
}

hr {
  display block
  width 25%
  
  margin .4em auto

  border none
  border-top 1px solid rgba(os-grey, 0.2)
}

.template {
  display none !important
}

input[type=text] {
  border 0
  
  &::placeholder {
    color os-light
  }
}

[contenteditable=true]:empty:before {
  content attr(placeholder)
  color os-light
}

header + hr {
  display none
}

.dialog {
  background rgba(0, 0, 0, 0.5)
  position fixed
  z-index 999999
  top 0
  left 0
  width 100%
  height 100%
  display none
  opacity 0
  transition opacity 0.2s
  
  &.active {
    opacity 1
    display block
  }

  .dialog-content {
    position absolute
    top 50%
    left 50%
    transform: translateX(-50%) translateY(-50%)
    background white
    border-radius 1em
    min-width 30%
    min-height 30%
    max-width 90%
    max-height 90%
    padding 1em 1em
    display flex
    flex-direction column
    box-sizing border-box
    
    .dialog-content-inner {
      flex 1
      overflow-y auto
      
      h2 {
        margin 0
        padding 0
      }
    }
    
    .button-pane {
      border-top 1px solid gray
      width 100%
      display flex
      flex-direction row
      align-items flex-end
      justify-content flex-end
      height: 5em
      
      .btn {
        display inline-block
        margin 0.5em
      }
    }
  }
}

#cookie-policy {
  @extend .body
  
  border 3px solid os
  background white
  
  position fixed
  right 1em
  bottom 1em
    
  max-width 600px
  padding 1em
  
  border-radius 3px
  
  shadow 2
  
  .btn {
    margin-top 1em
  }
  
  +below(720px) {
    right 0
    bottom 0
    
    border 0
    border-top 3px solid os

    max-width initial
  }
}

@require 'nav.styl'
@require 'signup-join.styl'
@require 'resources.styl'
@require 'footer.styl'
@require 'share.styl'
@require 'user.styl'
@require 'visualizer.styl'
@require 'leaving.styl'
@require 'comments.styl'
