/**
 * css/nav.styl
 * -------------
 * 
 * The <nav>bar styling.
 */

nav {
  width 100%
  height 78px
  
  user-select none
  font-size 16px
  letter-spacing 0.5px

  z-index 99
  margin-bottom -1px
  color white
  background os
  
  +mobile() {
    height 118px
  }
  
  > .c {
    height 100%
    
    +tablet() {
      width 90%
    }
  }
  
  .nav {
    display inline-block
    float right
    height 78px
    
    +mobile() {
      width 100%
      height 39px
      
      display flex
      
      align-content center
      justify-content center
    }
  }
  
  // Meh. Needs work.
  .logo {
    float left
    display inline-block
    padding-left 51.2px
    
    font-size responsive 0.7rem 1.3rem

    height 64px
    line-height @height
    color white
    
    font-family 'Source Sans Pro', sans-serif
    
    margin-top 12px

    background-image url('/assets/img/logo/icon.png')
    background-size 51.2px
    background-position left center
    background-repeat no-repeat
    
    font-weight 600

    b {
      font-weight 700
    }
    
    +mobile() {
      width calc(100% - 24px * 2)
    }
  }
  
  a:not(.logo) {
    &.super {
      @extend .btn.super
      border 2px solid white
      
      +mobile() {
        height 21px
      }
    }
    
    @extend .btn
    border none

    &:not(.super) {
      color white !important
      background os !important
      line-height 36px
      
      +mobile() {
        line-height 24px
      }
    }
  }
  
  a {
    margin-top 12px
    
    +mobile() {
      margin 0 auto
    }
  }
}