/*
.file-upload {
  min-height 84px
  padding 8px
  margin-bottom 25px

  border 1px solid os-dark
  background white
  box-shadow 0 3px 3px rgba(0, 0, 0, 0.2)
  border-radius 2px

  .file-upload-name, .file-upload-description {
    width 100%
    margin-left 8px
    overflow-x visible !important
    outline 0
  }

  .file-upload-preview {
    border 1px solid black
    float left
    margin 0 5px 5px 0
    width 107px
    height 80px
    position relative
    background linear-gradient(#EEEEEE, #E4E4E4)
    box-shadow inset 0 0 3px rgba(0, 0, 0, 0.2)
    
    .file-preview {
      position absolute
      top 0
      left 0
      width 100%
      height 100%
    }
    
    .file-select-button {
      display block
      width 100%
      height 100%
      opacity 0
      cursor pointer
    }
    
    .file-select-text,
    .file-selected-text {
      position absolute
      top calc(50% - 7px)
      left 0
      width 100%
      height 100%
      line-height 100%
      font-size 14px
      text-align center
    }
  }
  
  &:not(.has-file) {
    .file-select-text {
      display block
    }
    
    .file-selected-text {
      display none
    }
  }
  
  &.has-file {
    .file-select-text {
      display none
    }
    
    .file-selected-text {
      display block
    }
  }
}

@media all and (max-width 600px) {
  .file-upload {
    .file-upload-preview {
      float none
      width 100%
      height 0
      padding-bottom 74%
    }
  }
}
*/

#file-uploads {
  .resource:not(.has-file) .img {
    background white
  }
  
  .resource {
    position: relative
  }
  
  .overlay {
    position: absolute;
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: none
    background: rgba(0, 0, 0, 0.5)
    
    svg.progress {
      position: absolute
      top: 10%
      left: calc(50% - 55px)
    }
    
    .progress-text {
      position: absolute
      top: calc(10% + 55px)
      text-align: center
      width: 100%
      color: white
      transform: translateY(-50%)
      
      a {
        color: white;
        text-decoration: underline;
      }
    }
    
  }
  
  .to {
    cursor default
  }
  
  .btn.remove {
    float: right
    margin: 0
    padding: 0.2em
  }
  
  .file-select-text {
    display inline-block
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    
    width 7rem
    text-align center
  }
  
  .has-file .file-select-text {
    display none
  }

  .file-selected-text {
    display none
  }
  
  .file-upload-name {
    cursor text
    outline 0
    padding 0.5em 16px
    text-overflow initial
    
    &:hover, &:focus {
      background rgba(os-grey, 0.07)
    }
  }
  
  .to + span {
    margin-top calc(-0.5em + 16px)
  }
  
  input[type=file] {
    display none
  }
}

.upload-error {
  display: none
  border: 1px solid red
  border-radius: 1em
  text-align: center
}