/**
 * css/signup-join.styl
 * --------------------
 * 
 * Styles for the Sign In & Join pages.
 */
 
#copycode {
  margin-left 1em
}

table#join, table.account-table {
  border 0
  width 100%
  margin-top 24px

  tr {
    td {
      padding .5em 0
    }

    td:first-child {
      padding-right 1em
      width 154px

      color #C3C3C3
      text-align right
      
      cursor default
      user-select none
    }
    
    td:last-child input {
      border none
      outline none
      
      width auto
      max-width 100%
      @extend .body
      line-height 2
      
      color os-grey
      border-bottom 1px dotted #C3C3C3
      
      &:focus {
        border-bottom 1px solid #AAAAAA
      }
    }
  }
}