/**
 * css/user.styl
 * -------------
 * 
 * /users/xxx
 */

.user {
  #row {
    display flex
    height 128px
    
    +mobile() {
      height 64px
    }

    #avatar {
      display inline-block
      height 128px
      width 128px
      
      background white
      margin-right 36px
      
      +mobile() {
        height 64px
        width 64px
        margin-right 8px
      }
    }

    #username {
      display inline-block
      line-height 128px
      flex 1
      margin 0
      
      +mobile() {
        line-height 64px
      }
    }
    
    small {
      // timeago
      +mobile() {
        display none
      }
    }
  }
}

.bio {
  @extend p
  
  p {
    margin 0
    padding 0
  }
  
  padding .5em
  
  h1 {
    @extend h2
  }
  
  > *:first-child {
    margin-top 0
  }
  
  border-radius 3px
  outline 0
  
  blockquote {
    border-left 3px solid #ddd
  }
  
  border: 2px solid transparent
  margin-top: 0.2em
  margin-bottom: 0.2em
  
  height 6em
  overflow-y auto

  &[contenteditable] {
    transition height 150ms easing
             , background 70ms easing
             , border 70ms easing
    
    border 1px solid transparent

    &:hover {
      background rgba(black, 0.02)
      border 1px solid rgba(black, 0.2)
    }
    
    &:focus {
      height 12em
    }
  }
}

.bio ~ #edit {
  margin-top 24px
}

.resource-title {
  max-height: 2.5em
  overflow: hidden
  text-overflow: ellipsis

  border: 2px solid transparent
  &[contenteditable] {
    &:hover, &:focus {
      overflow-y: auto
      background rgba(black, 0.02)
      border: 2px dashed white
    }
  }
}