<div class='os-leaving dialog'>
  <div class='dialog-content'>
    <div class='dialog-content-inner'>
      <h2>You are leaving OpenSprites</h2>

      <img src='/assets/doodle/exit.png' style='margin: auto; max-width: 100%;' width='640px'>

      <p>
        The link <span class='os-leaving-url'>{{url}}</span> isn't a site we recognize. Links outside of OpenSprites and Scratch have a chance of being dangerous. Don't continue unless you're sure the site is safe.
      </p>
    </div>
    <div class='button-pane'>
      <button class='btn os-leaving-back'>Back</button>
      <button class='btn flat os-leaving-continue'>Continue</button>
    </div>
  </div>
</div>